.navbar {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $navColor;
  // -webkit-box-shadow: 0 8px 6px -6px #999;
  // -moz-box-shadow: 0 8px 6px -6px #999;
  // box-shadow: 0 8px 6px -6px #999;
}

.nav-belt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  width: 100%;
  max-width: $maxContainerWidth;
  margin: 0 auto;
  padding: 0 0em;
}

.logo {
  color: $navLabelsColor;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 12.8rem;
  height: 2.25rem;
  //background: url('../../assets/logosTelesan/logoTelesan.png') no-repeat center;
  background-size: 100% 100%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 50vh;
  margin: 0;
  width: 60%;
  a {
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: $navLabelsColor;
  }
  li {
    list-style: none;
  }
}

.nav-item-bold {
  border: solid;
  border-color: $mainColor;
  border-radius: 2rem;
  padding: 0.25em 0.75em;
  a {
    color: $mainColor;
  }
  &:hover {
    background-color: $mainColor;
    a {
      color: $backgroundColor;
    }
  }
}


.nav-links a:hover, .nav-links a:active {
  color: #2f3e8d
}
.burger {
  display: none;
}

.burger div {
  width: 1.25rem;
  height: 0.15rem;
  background-color: $navLabelsColor;
  margin: 0.3em;
}

@include breakpoint('phone-md') {

  .nav-links a{
    font-size: 0.7rem;
  }
  .backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -100;
    display: none;
    top: 0;
    left: 0;
    right: 0;
  }

  .backdrop-active {
    z-index: 100;
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 8vh;
    right: 0;
    height: 92vh;
    background-color: $navColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 300ms ease-in;
    li {
      opacity: 0;
    }
  }

  .nav-item-bold {
    border: none;
    padding: 0;
    a {
      color: $textColor;
    }
    &:hover {
      background-color: $backgroundColor;
      a {
        color: $textColor;
      }
    }    
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(2.5rem);
    }
    to {
      opacity: 1;
      transform: translateX(0rem);
    }
  }

  .nav-link-item-active {
    animation: navLinkFade 300ms ease forwards 300ms;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .toggle {
    .burger-line-1 {
      transform: rotate(-45deg) translate(-0.6rem, 0px);
    }
    .burger-line-2 {
      opacity: 0;
    }
    .burger-line-3 {
      transform: rotate(45deg) translate(-0.6rem, 0px);
    }
  }
}

@media only screen and (max-width: 800px) {
  .nav-links {
    width: 66%;
  }

  .nav-links a{
    font-size: 0.5rem !important;
  }
}

@media only screen and (max-width: 1199px) {
  .nav-links a{
    font-size: 0.7rem;
  }
}


@media only screen and (max-width: 640px) {
  .nav-links a{
    font-size: 0.7rem !important;
  }
}

